<%- include('partials/header') -%>
<div class="userLoginWarning text-danger fw-bold text-center">
        <span class="login-warning fw-bold text-danger"><%= userLoginWarning %></span>
</div>
<section id="login">
    <main class="form-signin">
        <form method="post" action="/login" class="login-form">
            <img class="mb-1" src="images/Untitled design14.png" alt="">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="email" class="form-control login-email" id="floatingInput" placeholder="name@example.com" name="username" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control login-password" id="floatingPassword" placeholder="Password" name="password" required>
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <span class="err login-error"></span>
            <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
            <p class="forgot-password">Forgot password? <a href="/forgotPassword">Click Here</a></p>
            <p class="forgot-password">New to One Train? <a href="/signup">Signup here</a></p>
        </form>
        <div class="Choice">
            <div class="row Authentication">
                <div class="col-sm-6 card-body with">
                    <a class="btn btn-block btn-google" href="/auth/google" role="button">
                        <i class="fab fa-google"></i>
                        Google
                    </a>
                </div>
                <div class="col-sm-6 card-body with">
                    <a class="btn btn-block btn-facebook" href="/auth/facebook" role="button">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </a>
                </div>
            </div>
        </div>
    </main>
</section>
<%- include('partials/footer') -%>